<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Docs: Free Online Documents for Personal Use</title>
    <link rel="icon" href="https://ssl.gstatic.com/docs/doclist/images/mediatype/icon_1_document_x16.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
         *{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

h1 {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50px);
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-size: 10em;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0 5px 10px rgba(0,0,0,1);
	mix-blend-mode: overlay;
	font-family: 'Roboto Slab', serif;
	box-shadow: 0 5px 10px rgba(0,0,0,1);
	text-decoration: none;
}
.w3hubs-footer{
	width: 100%;
	height: auto;
	margin: auto;
	background:#272727;
	padding: 20px 0px;
	
}
.w3hubs-icon{
	width: 100%;
	height: auto;
	margin: auto;
}
.w3hubs-icon ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.w3hubs-icon ul li{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0px 10px;
	border-radius: 100%;
	background:#7DCEA0; 
}
.w3hubs-icon ul li a{
	text-decoration: none;
	color: #272727;
	font-size: 25px;
	display: block;
}
.w3hubs-icon ul li a i{
	line-height: 50px;
}
.w3hubs-icon ul li:hover{
	background: #e67e22;
}
.w3hubs-icon ul li a:hover >i{
	transform: scale(1.6) rotate(25deg);
}
.w3hubs-nav{
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 25px;
}
.w3hubs-nav ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}


.w3hubs-nav ul li{
	display: inline-block;
	margin: 10px 20px;	 
}
.w3hubs-nav ul li a{
	text-decoration: none;
	outline: none;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.w3hubs-nav ul li a:hover{
	color:  #e67e22;
}

.w3hubs-nav1{
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 15px;
}
.w3hubs-nav1 ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}


.w3hubs-nav1 ul li{
	display: inline-block;
	margin: 0px 20px;	 
}
.w3hubs-nav1 ul li a{
	text-decoration: none;
	outline: none;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.w3hubs-nav1 ul li a:hover{
	color:  #e67e22;
}
.w3hubs-nav2{
	width: 100%;
	height: auto;
	margin: auto;
}
.w3hubs-nav2 ul{
	
	text-align: center;
}

.w3hubs-nav2 ul li{
	
	width: 50px;
	height: 50px;
	margin: 0px 10px;
	border-radius: 100%;
	background:#fff; 
}
.w3hubs-nav2 ul li a{
	text-decoration: none;
	color: #272727;
	font-size: 25px;
	display: block;
}
.w3hubs-nav2 ul li a i{
	line-height: 50px;
}
.w3hubs-nav2 ul li:hover{
	background: #e67e22;
}
.w3hubs-nav2 ul li a:hover >i{
	transform: scale(1.6) rotate(180deg);
}
.footer-end{
	width: 100%;
	height: auto;
	margin: auto;
	background: #7DCEA0;
	padding: 10px;
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	text-align: center;
}
.footer-end p{
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	letter-spacing: 2px;

}
.footer-end a{

text-decoration: none;
color: #fff
}
.footer-end a:hover{
	color:  #e67e22;
}

@media(max-width:691px ){
.w3hubs-nav1 ul li a,.w3hubs-nav ul li a{
	font-size: 16px;
}
}
@media(max-width:604px ){
.w3hubs-nav1 ul li a,.w3hubs-nav ul li a{
	font-size: 14px;
}
.w3hubs-nav ul li{
	padding: 0px ;
}
}
@media(max-width:559px ){

.w3hubs-nav1 ul li a,.w3hubs-nav ul li a{
	font-size: 13px;
}

}
@media(max-width:539px ){
.w3hubs-nav1 ul li a,.w3hubs-nav ul li a{
	font-size: 11px;
}
.w3hubs-nav ul li{
	margin: 5px 20px;
}
.w3hubs-nav ul li.p1 {
    padding-top: 10px;
}
}
@media(max-width:380px ){
	.w3hubs-nav ul li,.w3hubs-nav1 ul li{
		display: block;
		padding: 5px;
	}
.w3hubs-nav2 ul li{
	display: none;
}
.w3hubs-icon ul li a i {
    line-height: 38px;
}
.w3hubs-icon ul li a{
	font-size: 20px;
}
.w3hubs-icon ul li{
width: 40px;
    height: 40px;
}
}
@media(max-width: 375px){
	.w3hubs-nav ul li.p1 {
    padding-top: 0px;
}
}
    input:required {
        box-shadow:none;
    }
    input:invalid {
        box-shadow:none;
    }
    .myAlert-top{
    position: fixed;
    top: 5px; 
    left:2%;
    width: 96%;
}

.myAlert-bottom{
    position: fixed;
    bottom: 5px;
    left:2%;
    width: 96%;
}

div.fullscreen {
  position: absolute;
  width:100%; 
  height:960px; 
  top: 0; 
  left: 0; 
  background-color: lightblue;
}

.alert{
    display: none;
}
/*==================== 
	Footer 
====================== */

/* Main Footer */
footer .main-footer{	padding: 20px 0;	background: #252525;}
footer ul{	padding-left: 0;	list-style: none;}

/* Copy Right Footer */
.footer-copyright {	background: #222;	padding: 5px 0;}
.footer-copyright .logo {    display: inherit;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright nav ul {	list-style: none;	margin: 0;	padding: 0;}
.footer-copyright nav ul li {	border-left: 1px solid #505050;	display: inline-block;	line-height: 12px;	margin: 0;	padding: 0 8px;}
.footer-copyright nav ul li a{	color: #969696;}
.footer-copyright nav ul li:first-child {	border: medium none;	padding-left: 0;}
.footer-copyright p {	color: #969696;	margin: 2px 0 0;}

/* Footer Top */
.footer-top{	background: #252525;	padding-bottom: 30px;	margin-bottom: 30px;	border-bottom: 3px solid #222;}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{	background: transparent;}
footer.transparent .footer-copyright{	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}

/* Footer light */
footer.light .footer-top{	background: #f9f9f9;}
footer.light .main-footer{	background: #f9f9f9;}
footer.light .footer-copyright{	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}

/* Footer 4 */
.footer- .logo {    display: inline-block;}

/*==================== 
	Widgets 
====================== */
.widget{	padding: 20px;	margin-bottom: 40px;}
.widget.widget-last{	margin-bottom: 0px;}
.widget.no-box{	padding: 0;	background-color: transparent;	margin-bottom: 40px;
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{	margin-bottom: 18px;}
.widget li a{	color: #ff8d1e;}
.widget li a:hover{	color: #4b92dc;}
.widget-title {margin-bottom: 20px;}
.widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;}
.widget-title span::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{	float: right;	background: #7f7f7f;}

.typo-light h1, 
.typo-light h2, 
.typo-light h3, 
.typo-light h4, 
.typo-light h5, 
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{	color: #fff;}

ul.social-footer2 {	margin: 0;padding: 0;	width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footer2 li a:hover {background-color:#ff8d1e;}
ul.social-footer2 li a {display: block;	height:30px;width: 30px;text-align: center;}
.btn{background-color: #ff8d1e; color:#fff;}
.btn:hover, .btn:focus, .btn.active {background: #4b92dc;color: #fff;
-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-webkit-transition: all 250ms ease-in-out 0s;
-moz-transition: all 250ms ease-in-out 0s;
-ms-transition: all 250ms ease-in-out 0s;
-o-transition: all 250ms ease-in-out 0s;
transition: all 250ms ease-in-out 0s;

}
</style>
</head>
<body>
    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
        <nav class="uk-navbar-container uk-margin" uk-navbar="dropbar: true;">
            
          </div>
          <div class="uk-navbar-left">
      
            <ul class="uk-navbar-nav">
              <a class="uk-navbar-item uk-logo" href="/">SteelProxy</a>
                <li class="uk-active"><a href="/api/login">Login</a></li>
                <li>
                  <li><a href="#offcanvas-usage" uk-toggle>Menu</a></li>
                    
                </li>
                <li><a href="/api/request/">Request Access</a></li>
            </ul>
          
          
        </div>
      
      </nav>
      
      <div id="offcanvas-usage" uk-offcanvas>
          <div class="uk-offcanvas-bar">
      
              <button class="uk-offcanvas-close" type="button" uk-close></button>
      
              <h3>SteelProxy</h3>
      
              <p>SteelProxy Is a Web Proxy Used To Unblock Sites Blocked By Your School or Administration. &nbsp; Remember This Proxy does not work for all Sites.</p>
              <br>
              <h3>
                Working Game Sites:
              </h3>
              <ul style="list-style-type: none;">
                <li><strong style="color: turquoise">Warbot.io</strong>, Status: Working. Description: Robot Fighting Game.</li>
                <li><strong style="color: turquoise">Surviv.io</strong> : 2D Battle Royale Game. Status: Working. Description: 2D Battle Royale Game.</li>
                <li><strong style="color: turquoise">Gartic.io</strong> : Fun Guess the Drawing Game. Status: Working.</li>
              </ul>
              <br>
              <a href="/add-sites">Add Working Games To The Site.</a>
            </br>
              <!--<a style="color: turquoise"; href="/" onclick="window.open('http://google.com');
              window.open('http://www.youtube.com');"> #ANTISECURLYSQUAD</p>-->
              <a style="color: turquoise;" href="https://discord.gg/hPNKMxt" onclick="location.href='https://discord.gg/fRSZz2C';" target="_blank">#ANTISECURLYSQUAD</a>
      
      
      
            </div>
      </div>
      <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="javascript:void(0)">Login.</a></li>
                <li><a href="javascript:void(0)">You Must have An Account.</a></li>
            </ul>
        </div>
    </nav>
    <form action="/api/login" method="POST" style="position: relative; text-align: center; bottom: -150px; overflow: hidden;">

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input uk-width-large" type="text" name="loginusername" placeholder="Enter Username" required>
            </div>
        </div>
    
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon-flip"></span>
                <input class="uk-input uk-width-large" type="password" name="loginpassword" placeholder="Enter Your Password" required>
            </div>
        </div>
        
        <button class="uk-button uk-button-default uk-width-large" onclick="myAlertTop()">Submit</button>
    </form>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <script>
         
          /*function myAlertBottom(){
                $(".myAlert-bottom").show();
                setTimeout(function(){
                    $(".myAlert-bottom").hide(); 
                }, 3000);
                }
                window.setTimeout(function(){
                   window.location.href = "/";
                }, 30 * 60 * 1000);*/
            
      </script>
      <div class="w3hubs-footer">
   	  
        <div class="w3hubs-icon">
          <ul>
            <li><a href="https://github.com/lilnelly-oss" target="_blank"><i class="fa fa-github"></i></a></li>
            <li><a href="https://discord.gg/hPNKMxt" target="_blank"><i class="fab fa-discord"></i></a></li>
          </ul>
        </div>
        <div class="w3hubs-nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#offcanvas-usage" uk-toggle>Menu</a></li>
            <li class="p1"><a href="/api/request/">Request Account</a></li>
          </ul>
        </div>
      
        <div class="w3hubs-nav2">
          <ul>
            
            <li><a onclick="topFunction()" id="myBtn" title="To Top"><i class="fa fa-chevron-down"></i></a></li>
            
          </ul>
        </div>
      </div>
      
      <div class="footer-end">
        <p>Desing By: <a onclick="UIkit.notification({message: '<span uk-icon=\'icon: check\'></span> Nelly Is a 13 Year Old Developer Who Specializes in Nodejs, Which This Site is Made Of.'})">LilNelly</a></p>
      </div>
      <script>
          mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
} 
      </script>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/js/uikit-icons.min.js"></script>
</body>
</html>